
<body>
<div class="container">		


<div id="user_nav">

  <% if current_user %>
   
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>


		<h1>Home Page</h1>
	<div>	
		<table class="table" >
			<tr class="danger">
				<b> Latest Orders </b>
			</tr>	
			<%  @orders.each do |order| %>
			<tr class="success">
				<td> <%= order.order_for %> </td>
				<td> <%= order.created_at %> </td>
			</tr>	
		</table>	
		<% end %>	

		<table class="table" >
			<tr>
				<b>Friends Activity</b>
			</tr>	

		</table>	

	</div>	
</div>	
	</body>	

