<div id="users">
  <% @users.each do |user| %>
    <div id="user">
      <% if user.firstName != current_user.firstName %>
        <%=h user.firstName %>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <% end %>
    </div>    
  <% end %>
</div>